#root, body, html {
  width:280px;
  min-height:unset;
  height:335px;
  position:relative;
  max-width: unset;
  min-width:unset;
  display:block;
  min-width:280px!important;
  margin:unset!important;
  max-width:280px;
  background-color:transparent!important;
}
form{
  max-width:280px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#root > button{
    position: absolute;
    top: 290px;
    right: 0;
    bottom: unset;

}
@media (prefers-color-scheme: dark) {
  body, html, #root {
    background-color: transparent !important;
  }
}